.App {
  text-align: center;
  width: 100vw;
  height: 25vh;
  margin: auto;
}



.choice {
  display: flex;
  align-items: center;
  margin-top: 35svh;

  /* placing it in the center VERTICALLY */
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.option {
  margin: auto;
  padding: 5%;
  font-size: x-large;
  text-decoration: none;
  color: black;
  
}

.option:hover {
  background-color:rgb(240, 239, 245);
  color:blue;
}